[data-md-component="logo"] {
    display: none !important;
}

.md-header__title {
    margin-left: 0.5rem !important;
}

[data-md-color-scheme="default"] .md-header,
[data-md-color-scheme="default"] .md-tabs {
    background: #546d78;
}

[data-md-color-scheme="slate"] .md-header,
[data-md-color-scheme="slate"] .md-tabs {
    background-color: hsla(var(--md-hue),15%,12%,1.00);
}